@charset "UTF-8";
/* 1remを10pxに設定 */
html {
  font-size: 62.5%;
}

.count__start, .count__stop, .count__reset {
  line-height: 1.2;
}

/*------------------------pc非表示------------------------*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  .sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

/*------------------------all------------------------*/
.all {
  width: 100vw;
  height: 100vh;
  font-family: 'Racing Sans One', cursive;
  color: white;
  letter-spacing: 0.1rem;
  background: url("../img/train.jpg") no-repeat;
  background-size: cover;
  background-position: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .all {
    background-position: left 20%;
  }
}

@media screen and (min-width: 768px) {
  .all {
    background-position: left;
  }
}

.all__top {
  width: clamp(100vw, 80vw, 70rem);
  height: 100%;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .all__top {
    height: 100vh;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .all__top {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*------------------------header------------------------*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__title {
    padding-top: 10px;
  }
}

.header__link {
  color: white;
  font-size: clamp(50px, 9vw, 100px);
  text-decoration: none;
  padding-left: 25px;
}

.header__logo {
  width: clamp(36px, 6.5vw, 70px);
}

.header .sp__margin {
  margin-left: 40px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .header .sp__margin {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header .sp__margin {
    margin-left: 15px;
  }
}

/*------------------------main------------------------*/
.main {
  width: 100%;
}

/*------------------------count------------------------*/
.count {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .count {
    padding: 15px 0;
  }
}

.count__timer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count--time {
  width: 100vw;
  font-size: clamp(45px, 10vw, 120px);
  letter-spacing: 0.2rem;
  text-align: center;
  background-color: rgba(133, 98, 81, 0.466);
  padding: 15px 0px;
  margin: 0px 0px 40px;
}

@media screen and (min-width: 481px) {
  .count--time {
    margin-bottom: 20px;
  }
}

.count__button {
  width: 100vw;
  font-size: clamp(30px, 6vw, 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 481px) {
  .count__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.count__buttonTop {
  width: 100vw;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 481px) {
  .count__buttonTop {
    width: 67vw;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.count__start {
  position: relative;
}

.count__start::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 100%;
  border-bottom: 2px dashed white;
  left: -10%;
}

.count__start::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 60%;
  height: 100%;
  border-bottom: 2px solid white;
  left: 55%;
}

.count__stop {
  position: relative;
}

@media screen and (min-width: 481px) {
  .count__stop {
    margin-left: 15px;
  }
}

.count__stop::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 100%;
  border-bottom: 2px solid white;
  right: 55%;
}

.count__stop::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 60%;
  height: 100%;
  border-bottom: 2px dashed white;
  right: -8%;
}

.count__buttonBottm {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 481px) {
  .count__buttonBottm {
    width: 34vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.count__reset {
  position: relative;
  display: inline-block;
}

.count__reset::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 120%;
  height: 100%;
  border-bottom: 2px dashed white;
  left: -10%;
}

.count__reset::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 45%;
  height: 100%;
  border-bottom: 2px solid white;
  left: 27%;
}

.inactive {
  opacity: 0.6;
}

/*------------------------footer------------------------*/
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  color: white;
  font-size: clamp(12px, 2vw, 18px);
  letter-spacing: 0.1rem;
  text-align: center;
  padding-bottom: 15px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .footer__text {
    padding-bottom: 0px;
  }
}
/*# sourceMappingURL=style.css.map */